.title {
    background: rgba(173, 173, 173, 0.3);
}

.geadiente-text {
    background-image: linear-gradient(to right, #FFFFFF 30%, #090909);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.img {
  background-image: url('../assets/ebook.png');
}

.btn-gold {
    width: 123px;
    height: 29px;

    background: linear-gradient(89.89deg, #F4D171 26.38%, #FCFBF8 54.57%, #F4D071 78.51%);
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    
    .btn-gold {
        width: 113px;
        height: 22px;
    
        background: linear-gradient(89.89deg, #F4D171 26.38%, #FCFBF8 54.57%, #F4D071 78.51%);
        border-radius: 5px;
    }
}