.title {
    width: 190px;
    height: 29px;
    top: 207px;

    background: rgba(173, 173, 173, 0.3);
    border-radius: 17px;
}

.geadiente-text {
    background-image: linear-gradient(to right, #FFFFFF 30%, #090909);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.img {
  width: 730px;
  height: 476px;
  top: 0;
  right: -300px;

  background-image: url('../assets/ebook.png');
  background-size: contain;
}

.btn-gold {
    width: 123px;
    height: 29px;

    background: linear-gradient(89.89deg, #F4D171 26.38%, #FCFBF8 54.57%, #F4D071 78.51%);
    border-radius: 5px;
}

.blue-dot {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    
    background: #0E9AFF;
}

.form-and-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


@media screen and (max-width: 768px) {
    .form-and-button {
        flex-direction: column;
        gap: 0;
    }

    .title {
        width: 160px;
        height: 25px;
        top: 207px;
    
        background: rgba(173, 173, 173, 0.3);
        border-radius: 17px;
    }

    .blue-dot {
        width: 5px;
        height: 5px;
        border-radius: 10px;
        
        background: #0E9AFF;
    }
    
    .btn-gold {
        width: 113px;
        height: 22px;
    
        background: linear-gradient(89.89deg, #F4D171 26.38%, #FCFBF8 54.57%, #F4D071 78.51%);
        border-radius: 5px;
    }
}